@model EventManagementSystem.Web.Models.Entities.Event
<section id="about" class="about-section about-style-4 py-5">
    <div class="container">
        <div class="about-content-wrapper text-center mx-auto" style="max-width:800px">
            <div class="section-title mb-30">
                <h3 class="mb-25">Về Sự Kiện</h3>
            </div>
            <div class="text-start fs-5">
                @Html.Raw(Model.Description) 
            </div>
        </div>
    </div>
</section>