@model EventManagementSystem.Web.Models.Entities.Event
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="carousel-text">
                    <h1 class="display-1 text-uppercase mb-3">@Model.Title</h1>
                    <p class="fs-5 mb-5">@Html.Raw(Model.Description)</p>
                    <div class="d-flex">
                        <a class="btn btn-primary py-3 px-4 me-3" href="#tickets">Đăng Ký Ngay</a>
                        <a class="btn btn-secondary py-3 px-4" href="#about">Tìm Hiểu Thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="carousel-img">
                    <img class="w-100" src="@Model.ImageUrl" alt="@Model.Title">
                </div>
            </div>
        </div>
    </div>
</div>